.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movieList {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 400px);
  gap: 15px;
  padding: 10px;
}
